@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --dark-navy-blue: #0E172B;
  --neon-yellow-lime: #E6FF25;
  --border: #E8E7E6;
  --bracket-background: #FFFDFE;
  --bracket-container-border: #EEEEEF;
  --disabled-content: #A8A8A8;
  --background: #FAF9F6;
  --pill-content-inactive: #74777E;
  --pill-background-inactive: #D4D4D4;
  --bracket-connector-inactive: #C9CFC5;
  --match-picker-container-background: #EFEFEF;
  --match-picker-container-border: #D8D8D8;

  --sans: 'Figtree';
  --heading: 'Figtree';

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--dark-navy-blue);
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Figtree';
  font-weight: 500;
}